:root {
  --highlight-background: rgb(0 0 0 / 0);
  --highlight-width: 0;
}

.remark-highlight pre{
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px, rgba(0, 0, 0, 0.23) 0px 0px 4px;
}